.display {
  display: grid;
  grid-template-columns: 400px 400px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.homepage {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.navbar {
  display: flex;
  gap: 20px;
  background-color: red;
  align-items: flex-start;
  margin-bottom: 50px;
}

.navItems {
  margin-top: 20px;
}

p {
  color: black;
}
.thumbnail {
  display: flex;
  flex-direction: column;
}
